<div class="container">
  <div class="row">
    <div class="col-6">

      <% @entries.each do |e| %>
        <% if @myUserId != e.user.id %>
          <h2 class="mt-5 mb-5"><%= e.user.name %>さんとのトークルーム</h2>
        <% end %>
      <% end %>
      <%= link_to "ユーザー一覧に戻る", users_path, class: "btn btn-info mb-5" %>

      <div class="message" style="width: 500px;">
        <% @messages.each do |m| %>
          <% if m.user.id == current_user.id %>
            <p style="text-align: right;"><%= m.message %></p>
          <% else %>
            <p style="text-align: left;"><%= m.message %></p>
          <% end %>
        <% end %>
      </div>

      <div class="errors">
        <%= render "layouts/errors", obj: @message %>
      </div>

      <%= form_with model:  @message, local: false do |f| %>
        <%= f.text_field :message, placeholder: "メッセージを入力して下さい", size: 50, class: "form-text-field" %>
        <%= f.hidden_field :room_id, value: @room.id %>
        <%= f.submit "投稿", class: 'form-submit' %>
      <% end %>
    </div>

  </div>
</div>
